<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The Australian rpilocator dollar store">
    <title>First App!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">                             <!--bulma cdn-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">            <!--boostrap icons-->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">        <!--dataTables css-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>                                <!--dataTables jquery-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>          <!--dataTables js-->

    <!-- <script type="text/javascript">
      $(document).ready(function () {
        $('#data-tables').DataTable({
            order: [[3, 'desc']],
        });
    });
    </script> -->

  </head>
  <body>
  <section class="hero is-small is-primary is-bold">
      <div class="hero-body">
        <p class="title">
          Rpilocator - cheap Australian edition
        </p>
  </section>
  <div class="notification is-link is-light" role="alert">
    This site is a work in progress. &nbsp;&nbsp;Currently, the source code is very repetetive. &nbsp;&nbsp;Please give me your ideas for this project: <a href="https://github.com/El-Vim55/Scrap">https://github.com/El-Vim55/Scrap</a>
  </div>

  <table id="data-tables" class="table" style="border:none;">
    <thead>
      <tr class="headers">
        <th>SKU</th>
        <th>Title</th>
        <th>Link</th>
        <th>Vendor</th>
        <th>In Stock</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody id="data">
    <style>
      div {
        padding: 18px;
        margin: 18px;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      tr:not(.headers):not(.in__stock):hover {background-color: #d1e7dd;}

      .in__stock {background-color: #9fc9b6;}
    </style>

      <tr class="{{ 'in__stock' if job.stock[0] == 'Yes' }}">
        <th>CM4001000</th>
        <td>{{ job.title[0] }}</td>
        <td><a href="{{ job.links[0] }}"><i class="bi bi-bag"></i></a></td> <!--CM4 - Lite, 1GB--> 
        <td>Core Electronics</td>
        <td>{{ job.stock[0] }}</td> 
        <td>(AUD) {{ job.price[0] }}</td>
      </tr>
      <tr class="{{ 'in__stock' if job.stock[1] == 'Yes' }}">
        <th>CM4002016</th>
        <td>{{ job.title[1] }}</td> <!--CM4 - 16GB eMMC, 2GB RAM-->
        <td><a href="{{ job.links[1] }}"><i class="bi bi-bag"></i></a></td>
        <td>Core Electronics</td>
        <td>{{ job.stock[1] }}</td>
        <td>(AUD) {{ job.price[1] }}</td>
      </tr>
      <tr class="{{ 'in__stock' if job.stock[2] == 'Yes' }}">
        <th>CM4002008</th>
        <td>{{ job.title[2] }}</td>
        <td><a href="{{ job.links[2] }}"><i class="bi bi-bag"></i></a></td> <!--CM4 - 8GB eMMC, 2GB RAM-->
        <td>Core Electronics</td>
        <td>{{ job.stock[2] }}</td>
        <td>(AUD) {{ job.price[2] }}</td>
      </tr>
      <tr class="{{ 'in__stock' if job.stock[3] == 'Yes' }}">
        <th>CM4102000</th>
        <td>{{ job.title[3] }}</td>
        <td><a href="{{ job.links[3] }}"><i class="bi bi-bag"></i></a></td> <!--CM4 - Lite, 2GB RAM, (Wireless)-->
        <td>Core Electronics</td>
        <td>{{ job.stock[3] }}</td>
        <td>(AUD) {{ job.price[3] }}</td>
      </tr>
      <tr class="{{ 'in__stock' if job.stock[4] == 'Yes' }}">
        <th>CM4102008</th>
        <td>{{ job.title[4] }}</td>
        <td><a href="{{ job.links[4] }}"><i class="bi bi-bag"></i></a></td> <!--CM4 - 8GB eMMC, 2GB RAM, (Wireless)-->
        <td>Core Electronics</td>
        <td>{{ job.stock[4] }}</td>
        <td>(AUD) {{ job.price[4] }}</td>
      </tr>
      <tr class="{{ 'in__stock' if job.stock[5] == 'Yes' }}">
        <th>CM4104032</th>
        <td>{{ job.title[5] }}</td>
        <td><a href="{{ job.links[5] }}"><i class="bi bi-bag"></i></a></td> <!--CM4 - 32GB eMMC, 4GB RAM, (Wireless)-->
        <td>Core Electronics</td>
        <td>{{ job.stock[5] }}</td>
        <td>(AUD) {{ job.price[5] }}</td>
      </tr>

      <tr class="{{ 'in__stock' if job.stock1[0] == 'Yes' }}">
        <th>RPI4-MODBP-1GB</th>
        <td>{{ job.title1[0] }}</td>
        <td><a href="{{ job.links1[0] }}"><i class="bi bi-bag"></i></a></td> 
        <td>Core Electronics</td>
        <td>{{ job.stock1[0] }}</td> 
        <td>(AUD) {{ job.price1[0] }}</td>
      </tr>
      <tr class="{{ 'in__stock' if job.stock1[1] == 'Yes' }}">
        <th>RPI4-MODBP-2GB</th>
        <td>{{ job.title1[1] }}</td>
        <td><a href="{{ job.links1[1] }}"><i class="bi bi-bag"></i></a></td>
        <td>Core Electronics</td>
        <td>{{ job.stock1[1] }}</td>
        <td>(AUD) {{ job.price1[1] }}</td>
      </tr>
      <tr class="{{ 'in__stock' if job.stock1[2] == 'Yes' }}">
        <th>RPI4-MODBP-4GB</th>
        <td>{{ job.title1[2] }}</td>
        <td><a href="{{ job.links1[2] }}"><i class="bi bi-bag"></i></a></td> 
        <td>Core Electronics</td>
        <td>{{ job.stock1[2] }}</td>
        <td>(AUD) {{ job.price1[2] }}</td>
      </tr>
      <tr class="{{ 'in__stock' if job.stock1[3] == 'Yes' }}">
        <th>RPI4-MODBP-8GB</th>
        <td>{{ job.title1[3] }}</td>
        <td><a href="{{ job.links1[3] }}"><i class="bi bi-bag"></i></a></td>
        <td>Core Electronics</td>
        <td>{{ job.stock1[3] }}</td>
        <td>(AUD) {{ job.price1[3] }}</td>
      </tr>
    </tbody>
  </table>
  </body>
</html>