<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="The Australian rpilocator dollar store">
    <title>First App!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">Hey Guysz</h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
    </div>
  </section>
  <table class="table">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Title</th>
        <th>Link</th>
        <th>Vendor</th>
        <th>In Stock</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <!--This is what I will use for All stufff thing-->
        <th>SKU stuff?</th>
        <td>Leicester City</td>
        <td><a href="{{ job.links[0] }}">cm4 lite</a></td> <!--CM4 - Lite, 1GB--> 
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td>Arsenal</td>
        <td><a href="{{ job.links[1] }}">cm4</a></td> <!--CM4 - 16GB eMMC, 2GB RAM-->
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
        <td><a href="{{ job.links[2] }}">cm4</a></td> <!--CM4 - 8GB eMMC, 2GB RAM-->
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
        <td><a href="{{ job.links[3] }}">cm4</a></td> <!--CM4 - Lite, 2GB RAM, (Wireless)-->
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
        <td><a href="{{ job.links[4] }}">cm4</a></td> <!--CM4 - 8GB eMMC, 2GB RAM, (Wireless)-->
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
        <td><a href="{{ job.links[5] }}">cm4</a></td> <!--CM4 - 32GB eMMC, 4GB RAM, (Wireless)-->
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      <tr>
        <th>SKU STUFF</th>
        <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
      </tr>
    </tbody>
  </table>
  </body>
</html>